@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-Bold.woff2') format('woff2'),
        url('../fonts/ChakraPetch-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-BoldItalic.woff2') format('woff2'),
        url('../fonts/ChakraPetch-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-Italic.woff2') format('woff2'),
        url('../fonts/ChakraPetch-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-Light.woff2') format('woff2'),
        url('../fonts/ChakraPetch-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-Medium.woff2') format('woff2'),
        url('../fonts/ChakraPetch-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-MediumItalic.woff2') format('woff2'),
        url('../fonts/ChakraPetch-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/ChakraPetch-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-LightItalic.woff2') format('woff2'),
        url('../fonts/ChakraPetch-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-SemiBold.woff2') format('woff2'),
        url('../fonts/ChakraPetch-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/ChakraPetch-Regular.woff2') format('woff2'),
        url('../fonts/ChakraPetch-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Bold.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-BoldItalic.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-ExtraLight.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Light.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Italic.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-LightItalic.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Medium.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-MediumItalic.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Regular.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-SemiBold.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Thin.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-ThinItalic.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

