$primary-color:#14c2a3;
$text-color:#b9b9bf;
$white-color:white;
$box-bg-color:#0e2230;
$header-bg:#141a31;
$body-bg:#0c1226;
$box-bg-color-2:#0e2431;
$box-bg-color-3:#13182b;
$box-bg-color-4:#152a3a;
$line-color:#565660;
$icon-bg-color:#0f5958;
$border-1-color:#195051;
$border-2-color:#43485a;
$chakra: 'Chakra Petch';
$fs-16:16px;
$fs-80:80px;
$fs-14:14px;
$fs-16:16px;
$fs-17:17px;
$fs-20:20px;
$fs-24:24px;
$fs-27:27px;
$fs-30:30px;
$fs-32:32px;
$fs-36:36px;
$fs-44:44px;
$fs-56:56px;
$fs-80:80px;
$fw-300:300;
$fw-500:500;
$fw-600:600;

body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 15px;
    color:black;
}